.block {
  display: block;
}

.block:not(:last-child) {
  margin-bottom: 15px;
}

.form_converter {
  padding: 20px 20px 0px 20px;
}

.space_right {
  padding-left: 20px;
}

.btn_result {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #3775dd;
  box-shadow: 0 2px #21487f;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
}
.btn_result:hover {
  background-color: #002fed;
}
.btn_result:active {
  background-color: #2f599e;
}
.btn_result:focus-visible {
  box-shadow: 0 0 0 3px lightskyblue;
}
